.addForm{
    border-radius: 10px;
    background: #CF9FFF;
    box-shadow:  20px 20px 60px #b087d9,
                 -5px -5px 60px #eeb7ff;
    margin: 6px 12px;
    padding: 20px;
    flex-direction: column;
    flex: 1;
    min-height:50vh ;
}
.form-item{
    margin: 10px 0px;
    width: 70%;
    padding: 4px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    align-items: center;
}
.form-item label{
    background-color: lightblue;
    width: 25%;
    padding-left: 2px;
    border-radius: 4px;
}
.form-item input{
    border: none;
    outline: none;
    width: 70%;
    font-size: 15px;
    padding-left: 5px;
}
.category-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.category{
    position: relative;
    width: 50%;
}
.categories-dropdown{
    width: 50%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 10px 0px;
    border-radius: 8px;
    padding-left: 12px;
}
.categories-dropdown i{
    display: flex;
    align-items: center;
    padding-right: 5px;
}
.categories-container{
    display: flex;
    position: absolute;
    width: 55%;
    flex-direction: column;
    background: white;
}
.category-item{
    width: 98%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    cursor: pointer;
}
.category-item img{
    height: 25px;
    margin-right: 20px;
}
.form-add-btn{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.form-add-btn label{
    cursor: pointer;
}
.form-add-btn div{
    display: flex;
    border: 1px solid black;
    width: 8%;
    border-radius: 4px;
    padding-left: 5px;
}
.form-add-btn i{
    display: flex;
    align-items: center;
    margin-left: 2px;
}
@media only screen and (max-width:890px){
    .form-item label{
        width: 25%;
        font-size: 0.6rem;
        padding: 0 2px;
    }
    .form-item input{
        font-size: 12px;
    }
    .categories-dropdown label{
        font-size: 13px;
    }
    .categories-container{
        width: 70%;
    }
    .form-add-btn div{
        width: 15%;
    }
    .form-add-btn label{
        font-size: 15px;
    }
    .form-add-btn i{
        font-size: 15px;
    }
}
@media only screen and (max-width:680px){
    .form-item label{
        width: 20%;
        font-size: 0.4rem;
    }
    .form-item input{
        font-size: 8px;
    }
    .categories-dropdown{
        width: 50%;
    }
    .categories-container{
        width: 55%;
    }
    .categories-dropdown label{
        font-size: 9px;
    }
    .form-add-btn div{
        width: 15%;
    }
    .form-add-btn label{
        font-size: 10px;
    }
    .form-add-btn i{
        font-size: 10px;
    }
    .categories-container{
        width: 60%;
    }
    .categories-container label{
        font-size: 12px;
    }
    .category-item img{
        height: 15px;
        margin-right: 8px;
    }
}
/* @media only screen and (max-width:560px){
    .form-item label{
        width: 20%;
        font-size: 6px;
    }
    .form-item input{
        font-size: 6px;
    }
    .categories-dropdown{
        width: 50%;
    }
    .categories-dropdown label{
        font-size: 8px;
    }
    .form-add-btn div{
        width: 15%;
    }

    .categories-container label{
        font-size: 10px;
    }
} */
@media only screen and (max-width:500px){
    .form-item{
        width: 90%;
    }
    .form-item label{
        width: 35%;
        font-size: .35rem;
        padding: 0 2px;
    }
    .form-item input{
        font-size: 6px;
    }
    .categories-dropdown{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon{
            margin-top: 2px;
            font-size: 10px;
        }
    }
    .categories-dropdown label{
        font-size: 0.5rem;
    }
    .categories-container{
        width: 80%;
    }
    .form-add-btn div{
        width: 30%;
    }
    .form-add-btn label{
        font-size: 8px;
    }

    .categories-container label{
        font-size: 6px;
    }
}